<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Control Page</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>
<body>
    <div class = "container">
        <h1>ADMIN CONTROL PAGE</h1>
    </div>



    <div class = "users">
        <button id="see" onclick="document.getElementById('usr').style.display='block'; document.getElementById('see').style.display='none'; document.getElementById('hide').style.display='block';" style="display:block;">Add User</button>
        <button id="hide" onclick=" document.getElementById('usr').style.display='none'; document.getElementById('hide').style.display='none'; document.getElementById('see').style.display='block';" style="display:none;">Скрыть</button>

        <table border="1">
            <tr>
                <th>tgId</th>
                <th>firstName</th>
            </tr>
            <tr th:each= "user: ${users}">
                <td th:utext = "${user.id_telegram}">Empty</td>
                <td th:utext = "${user.firstname}">Empty</td>
            </tr>
        </table>
    </div>


    <div class = "userController" id = "usr" style="display:none">
        <form th:action="@{/addUser}"
              th:object="${user}" method="POST">
            <p><b>Имя:</b><br>
                <input type="text" size="40" th:field="*{firstname}">
            </p>
            <br/>
            <p><b>Фамилия:</b><br>
                <input type="text" size="40" th:field="*{lastname}">
            </p>
            <br/>
            <p><b>Логин:</b><br>
                <input type="text" size="40" th:field="*{name}">
            </p>
            <br/>
            <p><b>Телефон:</b><br>
                <input type="text" size="40" th:field="*{phone}">
            </p>
            <br/>
            <p><b>Почта:</b><br>
                <input type="text" size="40" th:field="*{mail}">
            </p>
            <br/>
            <p><b>Соглашение:</b><br>
                <input type="checkbox" th:field="*{agreement}">
            </p>
            <br/>
            <p><b>Телеграм id:</b><br>
                <input type="text" size="40" th:field="*{id_telegram}">
            </p>
            <br/>
            <input type="submit" value="Create" />
        </form>
    </div>

</body>
</html>